
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&family=Press+Start+2P&family=Smooch+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo+Pro&display=swap');


 *{
    cursor:url('./images/pizza-color.png'),auto;
    /* background-image: url("https://i.imgur.com/mvECNIt.png"); */
 } 
.welcome-section{
    border: 10px dashed rgb(221, 115, 28);
    height: 18vh;
}
#name{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}
#natestock{
    color:rgb(43, 217, 226);
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    
}


#natetop {
    display: flex;
    /* grid-template-columns: auto; */
    justify-content: space-around;
    /* width: fit-content; */
    padding: 35px;
    background-image: url("https://i.imgur.com/mvECNIt.png");
}

#nate1, #nate2, #nate3 {
    height: 200px;
    width: auto;
    margin: 5px auto 15px auto;
    border-style: groove;
    border-color: rgb(237, 168, 56);
    border-width: 3vh;
}
h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
h1{
    font-family: 'Monoton', sans-serif;
    letter-spacing: 15px;
    font-size:50px;
}
/* h1:hover:first-letter, .skills-section h2:hover:first-letter{
    color:blue;
}  */


#name h1{
    margin-bottom: 0;
}
#name p, #bio, #skills-one, #skills-two{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

#nate4 {
    display: grid;
    text-align: center;
    height: 250px;
    margin: 5px auto 15px auto;
    border-style: dashed;
    border-width: 3vh;
    border-color: rgb(226, 43, 43);
    border-radius: 50%;
}
#kelly_nate{
    display: grid;
    text-align: center;
    height: 250px;
    margin: 5px auto 15px auto;
    border-style: dashed;
    border-width: 3vh;
    border-color: rgb(226, 211, 43);
    border-radius: 50%;
} 
#miles{
    display: grid;
    text-align: center;
    height: 250px;
    margin: 5px auto 15px auto;
    border-style: dashed;
    border-width: 3vh;
    border-color: rgb(80, 226, 43);
    border-radius: 50%;
}
#mature_nate{
    display: grid;
    text-align: center;
    height: 250px;
    margin: 5px auto 15px auto;
    border-style: dashed;
    border-width: 3vh;
    border-color: rgb(43, 83, 226);
    border-radius: 50%;
}

#natedecades {
    display: flex;
    justify-content: space-evenly;
}

#natedecades div {
    border:rgb(221, 115, 28);
    border-width: 1vh;
}

#natedecades h3 {
    font-size: 2vh;
    font-weight: 500;
    color: rgb(8, 21, 159);
}

.nates {
    height: 150px;
    border-width: 0.5vh;
    border-style: solid;
    border-color: rgb(23, 216, 152);
    text-align: center;
    justify-content: center;
}

#skills-one, #skills-two{
    line-height: 4vh;
}
#skills-two{
    text-align: right;
}
#skills-section{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    border: dashed 2px rgb(154, 181, 223);
    padding:15px;
    text-align: center;
    font-family: 'Agbalumo', sans-serif;
    letter-spacing: 6px;
    font-size: 3.5vh;
}
#info {
    font-family: 'Monoton', sans-serif;
    color: red;
    font-size: 4vh;
    text-align: center;
}
#map{
    display: grid;
    text-align: center;
    height: 300px;
    margin: 5px auto 15px auto;
    border-style: dashed;
    border-width: 1.5vh;
    border-color: rgb(192, 43, 226);
}
.notes{
    font-size: 2.5vh;
    text-align: left;
    /* margin: 15px, 15px; */
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    letter-spacing: 1.5vh;
}
#notes {
    font-size: 2.5vh;
    letter-spacing: 0.5px;
}

.notes h3 {
    text-align: center;
}

.dates {
    font-size: 3vh;
    text-decoration: underline;
    color:rgb(8, 21, 159)
}

/* #notes2 {
    text-align: center;
} */

#jeff {
    height: 300px;
    text-align: center;
    display: block;
    margin: auto;
}

#brand{
    border: dashed 2px rgb(213, 100, 20);
    padding:15px;
    letter-spacing: 0.5px;
    line-height: 4.5vh;
    font-size: 2.5vh;
}
#site-links, #project-links{
    text-align: center;
}
/* .circle{
    height:50px;
    width:50px;
    border-radius: 50%;
    padding:5px;
    margin:10px;
    background-color:rgb(238, 185, 180, 0.8);
} */



/* .circle:hover{
    background-color:rgb(236, 162, 155);
} */
a{
    /* text-decoration: none; */
    color:rgb(29, 119, 204);
    font-family: 'Source Code Pro', sans-serif;
    font-size: 25px;
}
.top{
    height: 100px;
    width:100px;
}
.top a{
    font-size: 15px;
}
/* .circle a:hover{
    color:rgb(225, 232, 22);
} */
#bio p{
    text-align: center;
    font-size: 2.5vh;
    border: dashed 2px rgb(207, 128, 18);
    padding:15px;
}
#proj-divs{
    display: grid;
    grid-template-rows: auto;
    padding:15px;
    margin:0;
}
#proj-divs h3 {
    text-align: center;
    color:rgb(12, 164, 50);
    font-size: 4vh;
    padding: 5x;
    font-family: 'Monoton', sans-serif;
    border-style: groove;
    border-color: aquamarine;
}
 #pour-pair-div, #recipe-div, #restaurant-div, #trashure-div {
    height: fit-content;
    width: 100%;
    background-color: rgb(235, 238, 224);
    /* font-size: 20vh; */
    margin: 10px auto;
    
}

h4 {
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    line-height: 30px;
}
/* #pour-pair-div {
    background-image: url("https://i.imgur.com/qHwiPWC.png");
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
} */
#jefffont{
    /* font-size: 2.5vh;
    text-align: center; */
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    line-height: 30px;
    color:rgb(226, 43, 214);
    
}
/*
#pour-pair-div h3, #recipe-div h3, #restaurant-div h3, #trashure-div h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    padding:0 5px;
    text-align: center;
}
#recipe-div h4{
    font-family: 'Montserrat', sans-serif;
    padding:0 5px;
    text-align: center;
    font-size: 2vh;
} */
/* #pour-pair-div a, #recipe-div a, #restaurant-div a, #trashure-div a{
    font-size: 6vh;
    font-weight: 800;
    display: block;
    margin: 10px auto;
    text-align: center;
} */
#pour-pair-div a:hover, #recipe-div a:hover, #restaurant-div a:hover, #trashure-div a:hover{
    color:blue;
}    
/* #pour-pair-div img, #recipe-div img, #restaurant-div img, #trashure-div img{
    height: 40vh;
    width:auto;
    display: block;
    margin: 8px auto 0 auto;
    border: solid 1px rgb(8, 7, 7);
} */
#img-hover:hover{
    border: solid 5px blue;
}
/* #resume{
    border: solid 1px black;
    margin: 0 auto;
    padding: 5px 25px;
    letter-spacing: 0.5px;
}
.resume-head{
    text-align: center;
}
.resume-head h1{
    font-size: 5vh;
} */
.color-links{
    color:rgb(255, 119, 0);
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}
#resume div{
    padding-top:15px;
    border-bottom: solid 1px black;
}

/* #wine-gh-links h3, #recipe-gh-links h3, #rest-gh-links h3, #trash-gh-links h3{
    color:rgb(2, 174, 221);
    font-size: 2.5vh;
    margin-bottom: 0;
}
#wine-gh-links li, #recipe-gh-links li, #rest-gh-links li, #trash-gh-links li{
    list-style-type: none;
}
#wine-gh-links a, #recipe-gh-links a, #rest-gh-links a, #trash-gh-links a{
    font-size:2vh;
    font-family: tahoma;
    color:rgb(255, 94, 0);
    list-style-type: none;
}
#wine-gh-links a:hover, #recipe-gh-links a:hover, #rest-gh-links a:hover, #trash-gh-links a:hover{
    color:white;
} */
footer a, footer ul{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    color:rgb(255, 136, 0);
    list-style-type: none;
}

@media(max-width: 400px){
    body{
        width: fit-content;
    }
    footer a, footer ul{
        display: grid;
        grid-template-rows: auto;
        padding: 10px;
    }
}



